<h1>Login</h1>
<form id="loginForm">
    <input id="email" placeholder="e-mail"> <br />
    <input id="password" type="password" placeholder="Password"><br />
    <input type="submit">
</form>
{{#if logFail}}
<p id="logFail">{{logFail}}</p>
{{/if}}
<p>¿No estás registrado todavía? <a href="/handlebars/registro">Regístrate aquí</a></p>
<script src="/js/login.js" type="module"></script>