<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redirecting</title>
</head>
<body>

  <p>  Upss!! No eres Administrador!! Te estamos redirigiendo al loggin nuevamente...</p>

<script src="/js/redirecting.js"  type="module"></script>

</body>
</html>