<h1>Registro</h1>
<form id="registerForm">
    <input id="first_name" placeholder="Nombre"><br />
    <input id="last_name" placeholder="Apellido"> <br />
    <input id="email" placeholder="e-mail"><br />
    <input id="age" placeholder="Edad"> <br />
    <input id="password" type="password" placeholder="Contraseña"> <br />
    <select name="rol" id="rol">
    
    <option value="Admin">Admin</option>
    <option value="User">User</option>
    <option value="Premium">Premium</option>

    </select>
    <input type="submit">
</form>
<p>¿Ya tenes cuenta? <a href="/handlebars/login">Ingresa aquí</a></p>
<script src="/js/register.js"  type="module"></script>

